
#error {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 110px;
  background: url(../img/Femida_760x680.png) no-repeat bottom center;
  background-size: contain;

  -ms-behavior: url(/static/polyfills/backgroundsize.min.htc);
}

.error-404 {
  font-size: 30px;
  font-weight: 900;
  color: #434343;
}
