
.about-me {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1410px;
  margin-right: auto;
  margin-right: 240px;
  padding-right: 100px;
  padding-left: 100px;
  color: #232323;
}

.photo {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 329px;
}
